*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --nav-height: 7vh;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
  font-family: monospace;
  position: sticky;
  top: 0;
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
  background-color: white;
}

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  scroll-margin: var(--nav-height);
  scroll-snap-stop: always;
}


h1{
  color: whitesmoke;
  text-shadow: 1px 1px 4px #000;
  font-size: 64px;
}

.one{
  background-color: cyan;
}

.two{
  background-color: rgb(5, 192, 5);
}

.three{
  background-color: rgb(248, 245, 75);
}

.four{
  background-color: rgb(65, 13, 13);
}