*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --nav-height: 7vh;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
  font-family: monospace;
  position: sticky;
  top: 0;
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
  background-color: white;
}

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  scroll-margin: var(--nav-height);
  scroll-snap-stop: always;
  flex-direction: column;
}


h1{
  color: whitesmoke;
  text-shadow: 1px 1px 4px #000;
  font-size: 64px;
}

.one{
  background-color: cyan;
  align-items: center;
  justify-content: start;
}

.one h1 {
  margin-bottom: 20px;
  margin-top: 50px;
}

.two{
  background-color: rgb(5, 192, 5);
}

.three{
  background-color: rgb(248, 245, 75);
}

.four{
  background-color: rgb(65, 13, 13);
}

.slider{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 500px;
  width: 100%;
  height: 50vh;
  scroll-snap-type: x mandatory;
  scrollbar-color: #0071bd #35353586; /* Para navegadores basados en Gecko (Firefox) */
}

.slider::-webkit-scrollbar{
  height: 13px;
}
.slider::-webkit-scrollbar-track{
  background: #35353586;
}

.slider::-webkit-scrollbar-thumb{
  background: #0071bd;
}

.slider::-webkit-scrollbar-thumb:active{
  background: #29a9ff;
}

.slider img {
  width: 100%;
  height: fit-content;
  min-height: 300px;
  object-fit: cover;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
